
<div class="hero min-h-screen bg-base-100 pt-24">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <picture>
        <source srcset="/assets/img/IMG_5035/IMG_5035.webp" type="image/webp">
        <img src="/assets/img/IMG_5035/IMG_5035.jpg" class="max-w-sm rounded-lg shadow-2xl" />
      </picture>
      <div>
        <h1 class="text-5xl font-bold">Om oss!</h1>
    <p class="pb-3 pt-6">
        Kennelen eies av Hilde og Karstein Myrdal, som også står for den daglige driften.
         De brenner for at alle hunder skal få brukt seg aktivt, både fysisk og mentalt.
    </p>
    <p class="pb-3">
        Både Hilde og Karstein har erfaring med ulike raser og er utdannede hundeinstruktører.
    </p>
    <p class="pb-3">
        Hilde trener og konkurrerer aktivt i Nosework, og hun deltar i utstillingsringen med både 
        retrievere og rottweilere.
    </p>
    <p class="pb-6">
        Karstein har tidligere konkurrert i lydighetspoeng, men er nå hundefører i Norske Redningshunder med sin hund Ibra. Han holder jevnlige kurs, 
        både for Rettvest, andre hundeklubber, og skoler.
    </p>
        <button class="btn btn-primary">Kontakt oss</button>
      </div>
    </div>
  </div>

