<!-- TODO: Fix form and remove alert -->
<div role="alert" class="alert alert-warning shadow-lg rounded-none">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-neutral shrink-0 w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <div>
    <h3 class="font-bold">Kontakt skjema kommer snart!</h3>
    <div class="text-sm">Mail funksjonen er under utvikling.</div>
  </div>
</div>

<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Kontakt oss</h1>
      <p class="py-6">
        Kontakt oss for å reservere kennelplass eller kjøpe fôr. Vennligst spesifiser mengden fôr du ønsker og om du vil hente det selv eller om vi skal levere det. Vi vil svare så raskt som mulig, men det kan ta 2-3 arbeidsdager.
        Ring oss gjerne på tlf: <a href="tel:004793487399" class="link link-primary">934 87 399</a> om du lurer på noe.
      </p>
    </div>
    <div class="card shrink-0 w-full max-w-md p-4 shadow-2xl bg-base-100">
      <div id="hubspotForm"></div>
    </div>
  </div>
</div>
