<header class="z-50 navbar bg-base-200 fixed border-b-2 border-primary">
  <div class="navbar-start">
    <a class="text-xl flex flex-col cursor-pointer">
      <span class="font-bold">RettVest</span>
      <small class="text-sm text-primary-content">
        Hjemmekennel & Pensjonat
      </small>
    </a>
  </div>
  <div class="navbar-end hidden xl:flex">
    <ul class="menu menu-horizontal px-1">
      <li
        *ngFor="let menuItem of menuItems"
      >
        <a routerLink="{{ menuItem.href }}">
          {{ menuItem.text }}
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-end xl:hidden">
    <div>
      <input type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <label class="btn btn-square btn-primary text-base-200 swap swap-rotate">
          
          <!-- this hidden checkbox controls the state -->
          <input type="checkbox" [(ngModel)]="menuOpen" />
          <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
          <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
          
        </label>
      </div> 
    </div>
  </div>
</header>

<div
  class="
    menu-sidebar
    z-20
    fixed
    top-0
    w-full
    h-screen
    pt-20
    flex
    flex-col
    bg-base-200
  "
  ngClass="{{ menuOpen ? 'open' : 'closed' }}"
>

  <span class="text-xl font-bold py-2 px-6 uppercase">Meny</span>

  <ul class="menu menu-sm w-full">
    <li *ngFor="let menuItem of menuItems">
      <a
        routerLink="{{ menuItem.href }}"
        class="py-4 px-6 text-lg"
      >
      <span class="material-symbols-outlined">
        {{ menuItem.icon }}
      </span>
        {{ menuItem.text }}
      </a>
    </li>
  </ul>

</div>