<div
  id="mainGallery"
  class="splide p-0"
  aria-label="Splide Basic HTML Example"
>
  <div class="splide__track p-0">
		<ul class="splide__list p-2">

			<li
        *ngFor="let image of images"
        class="
          splide__slide
          w-full
          p-2
        "
      >

      <!-- <div class="w-full flex justify-center text-3xl">
        {{ image.src }}
      </div> -->

      <picture>
        <source srcset="{{ '/assets/img/webp/' + image.src + '.webp' }}" type="image/webp">
        <img
          src="{{ '/assets/img/jpg/' + image.src + '.jpg' }}"
          class="
            w-full
            h-full
            object-cover
            rounded-sm
            shadow-md
          "
          alt="{{ image.alt }}"
        />
      </picture>

      </li>

		</ul>
  </div>
</div>