<!-- <div class="carousel w-full">

    <div
        *ngFor="let image of images"
        id="{{ currentSlide(image.id) }}"
        class="carousel-item relative w-full justify-center"
    >
        <img
          src="{{ image.src }}"
          class="gallery-image"
        />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="{{ prevSlideButton(image.id) }}" class="btn btn-circle btn-primary">❮</a> 
            <a href="{{ nextSlideButton(image.id) }}" class="btn btn-circle btn-primary">❯</a>
        </div>
    </div> 

</div> -->

<section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">

			<li class="splide__slide">Slide 01</li>
			<li class="splide__slide">Slide 02</li>
			<li class="splide__slide">Slide 03</li>

		</ul>
  </div>
</section>