<!-- <div class="carousel w-full">

    <div
        *ngFor="let image of images"
        id="{{ currentSlide(image.id) }}"
        class="carousel-item relative w-full justify-center"
    >
        <img
          src="{{ image.src }}"
          class="gallery-image"
        />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="{{ prevSlideButton(image.id) }}" class="btn btn-circle btn-primary">❮</a> 
            <a href="{{ nextSlideButton(image.id) }}" class="btn btn-circle btn-primary">❯</a>
        </div>
    </div> 

</div> -->

<!-- https://tailwindcss.com/ -->
<!-- <div
  id="mainGallery"
  class="splide p-0"
  aria-label="Splide Basic HTML Example"
>
  <div class="splide__track p-0">
		<ul class="splide__list p-0">

			<li
        *ngFor="let image of images"
        class="
          splide__slide
          w-full
        "
      >

        <div class="
          w-full
          border-2
          border-red-500
        ">
          <p>Test {{image.id}}</p> -->
          <!-- <img
            src="{{ image.src }}"
            class="
              w-full
              h-full
              object-cover
            "
            alt="..."
          /> -->
        <!-- </div>

      </li>

		</ul>
  </div>
</div> -->