<p>product-page works!</p>
<div class="hero min-h-[600px] bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-3xl font-normal">
            Vi har
            <span class="font-bold">Norwegian Polar</span>
            og
            <span class="font-bold">Rawfor</span>
            på lager
        </h1>
        <p class="pt-6">
            Vi leverer hjem til deg, eller du kan hente på kennelen vår.
        </p>
        <p class="pt-1">
            Norwegian polar kr 640,- (20kg)
            Rawfor Lam og storfe kr 700,- (ca. 15kg)
        </p>
        <a
            routerLink="/kontakt-oss"
            class="btn btn-primary mt-6"
        >
            Bestill her!
        </a>
      </div>
    </div>
  </div>

  <div
    class="
        bg-base-200
        w-full
        pb-12
        flex
        justify-evenly
    "
  >

    <a
        href="https://www.rawfor.no/"
        target="_blank"
        class="avatar shadow-lg"
    >
        <div class="
            w-36
            md:w-48
            xl:w-72
            rounded-xl
        ">
            <img
                src="/assets/img/logo_rawfor.webp"
            />
        </div>
    </a>

    <a
        href="https://www.norwegian-polar.no/"
        target="_blank"
        class="avatar shadow-lg"
    >
        <div class="
            w-36
            md:w-48
            xl:w-72
            rounded-xl
        ">
            <img
                src="/assets/img/logo_nor_polar.webp"
            />
        </div>
    </a>

  </div>