
<div class="hero min-h-screen bg-base-100 pt-24">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <picture>
        <source srcset="/assets/img/IMG_5025/IMG_5025.webp" type="image/webp">
        <img src="/assets/img/IMG_5025/IMG_5025.jpg" class="w-full rounded-lg shadow-2xl" />
      </picture>
      <div>
        <h1 class="text-5xl font-bold">Kennel & Pensjonat!</h1>
        <p class="pb-3 pt-6">
            Velkommen til Rettvest Hundekennel og Pensjonat. Vi er en koselig hjemmekennel der vi bor sammen med hundene våre.
            Området vårt er stort, inngjerdet, og delt inn i flere seksjoner. Her er alle hunder velkomne, og løpetid utgjør ikke noe problem.

        </p>
        <p class="pb-3">
            Vårt fokus ligger på hunden; her vil din beste venn få rikelig med mental og fysisk stimulering samt et aktivt sosialt liv.

        </p>
        <p class="pb-3">
            Vi har begrenset plass, antallet kan variere, men med 5-6 hunder er vi fulle. Det er lurt å booke i god tid.
        </p>
        <p class="pb-6">
            Både Hilde og Karstein er instruktører med utdanning.
            Karstein har konkurrert i LP og er hundefører i NRH med flattcoaten Ibra. Karstein holder jevnlig kurs, både hos RettVest og for andre klubber og hundeskoler.
        </p>

        <p class="pb-6">
            Hilde trener og konkurrerer aktivt i Nosework og er aktiv i utstillingsringen med både retrievere og rottweilere. 
            Begge brenner for at hundene skal få brukt seg både mentalt og fysisk.
        </p>
        <p class="pb-6">
            Her kan du være trygg på at din beste venn har det bra under oppholdet.
        </p>
      </div>
    </div>
  </div>
