@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' -25,
  'opsz' 20
}

* {
    box-sizing: border-box;
}

html,
body,
app-root {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
    padding: 12px;
}

.slider-arrow {
  width: 48px;
  height: 48px;
  padding: 12px;
  background: #66CC8A;
  border-radius: 100%;
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .12),
              0 2px 4px rgba(0, 0, 0, .24);
    transition-duration: 0.2;
}
.slider-arrow:hover {
    opacity: 0.8;
    box-shadow: 0 0 0;
}
.slider-arrow svg {
  fill: #FFFFFF;
}