@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' -25,
  'opsz' 20
}

* {
    box-sizing: border-box;
}

html,
body,
app-root {
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    padding: 12px;
}