<div class="hero min-h-screen bg-fixed">
  <div class="hero-overlay bg-opacity-70"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold flex flex-col">
        RettVest
        <small class="text-lg text-primary">
          Hjemmekennel & Pensjonat
        </small>
      </h1>
      <p class="mb-7 font-bold">
        Koselig hjemmekennel med fokus på trivsel og hygge.
      </p>
      <button class="btn btn-primary text-base-200 uppercase shadow-sm">
        Gå til booking
      </button>
    </div>
  </div>
</div>

<section>

  <div class="my-20 divider divider-primary">
    <h2 class="text-2xl font-bold uppercase">
      Våre tjenester
    </h2>
  </div>

  <div class="w-full flex flex-col items-center">
    <div
      *ngFor="let service of serviceItems"
      class="w-full max-w-xl flex flex-col items-center py-8 px-4 bg-base-200 shadow-md rounded-md my-6"
    >
      <span class="material-symbols-outlined text-primary text-8xl">{{ service.icon }}</span>
      <h3 class="text-xl font-bold capitalize">{{ service.text }}</h3>
      <!-- <div class="divider divider-primary">
      </div> -->
      <p class="text-center text-lg">
        {{ service.description }}
      </p>
    </div>
  </div>
    
</section>